* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}


img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.header_container{
    width: 100%;
    padding: 30px;
    background-color: #f3f3f3;
}
.page_container{
    display: flex; /* makes boxes inside to  be horizontal */
}
.sidebar_container{
    width: 200px;
    padding: 20px;
    background-color: #e5e5e5;
}
.main_container{
    width: 100%;
    padding: 30px;
}